/* File Template Plugin Styles */

/* Template selection modal */
.file-template-modal {
  /* Modal styles will be added as needed */
}

/* Settings styles */
.file-template-settings {
  /* Settings styles will be added as needed */
}

/* Template list in settings */
.file-template-list {
  /* Template list styles will be added as needed */
}
